.login__container {
  border-radius: 8px;
  background-color: rgb(22, 23, 29);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.login__container-title {
  color: #cccccc;
  letter-spacing: 0.08rem;
  margin-bottom: 1.5rem;
  font-weight: 800;
  font-size: 38px;
}
.login__container__input {
  width: 100%;
  margin-top: 1.5rem;
  position: relative;
  transition: 0.5s;
}
.login__container__input input {
  width: 100%;
  padding: 5px 10px;
  background-color: transparent;
  color: #cccccc;
  border: none;
  border-bottom: 1px solid rgb(51, 61, 68);
  font-size: 24px;
}
.login__container__input input:focus {
  border-bottom: 1px solid rgb(36, 103, 151);
  color: rgb(36, 103, 151);
}
.login__container__input input:focus::placeholder {
  color: rgb(36, 103, 151);
}
.login__submit {
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  color: rgb(211, 210, 210);
  background-color: rgb(13, 99, 170);
  margin: 2rem;
}
.login__submit:hover {
  background-color: rgb(17, 94, 156);
}
.login__container__password {
  width: 100%;
  text-align: left;
  margin: 0.5rem;
}
.login__container__password a {
  color: rgb(37, 102, 175);
}
.login__container__password a:hover {
  text-decoration: underline;
}
.login__create-account {
  color: rgb(199, 197, 197);
}
.login__create-account:hover {
  text-decoration: underline;
}
.login__password-eye {
  width: 35px;
  fill: rgb(73, 74, 75);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}
